<!doctype html>
<html lang="en" ng-app="myapp">
 <style type="text/css">
    html, body {
      margin: 0;
      padding: 0;
      background: #ebebeb;
    }
    body, button {
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }

    h1 {
      padding-top: 50px;
    }
    img {
      max-width: 100%;
    }
    nav {
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      right: 0;
      background: #78ABC4;
    }
    nav li, nav ul {
      list-style: none;
      margin: 0;
      padding: 0;
      text-align: center
    }
    nav li, nav a {
      display: inline-block;
    }
    nav a {
      padding: 20px;
      color: #333;
      text-decoration: none;
    }
    a:hover {
      background: #89B8D0;
    }
    a.active {
      background: #333635;
      color: #89B8D0;
    }
    .wrap {
      position: relative;
      max-width: 1000px;
      margin: 0 auto;
      padding: 50px 20px;
    }
    section {
      padding: 0px 0 30px 0;
    }
    footer {
      text-align: center;
    }
    button {
      font-size: 18px;
      border: 0;
      padding: 15px 30px;
      background: #333635;
      color: #A4A4A4;
      cursor: pointer;
    }
    .waiting{
    	color: #ff0000;
    }
    .pushed{
    	color: #15ff00;
    }
  </style>
<head>
	<meta charset="UTF-8">
	<title>DynEd - Push Notification Service</title>
	<link rel="stylesheet" href="css_bootstrap.css">
</head>

<script src="http://code.angularjs.org/1.2.10/angular.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js"></script>
<script src="angular-scroll.js"></script>

<body ng-controller="MainCtl">

	<nav>
	    <ul>
	      <li><a href="#section-1" du-smooth-scroll du-scrollspy>LOGS</a></li>
	      <li><a href="#section-2" du-smooth-scroll du-scrollspy>APPLICATIONS</a></li>
	      <li><a href="#section-3" du-smooth-scroll du-scrollspy>DEVICES</a></li>
	      <li><a href="#section-4" du-smooth-scroll du-scrollspy>USERS</a></li>
	    </ul>
  	</nav>

  	<div class="jumbotron">
		<h1>DynEd </h1>
		<h2>Push Notification Service</h2>
	</div>

  <section id="section-1">
    <h2><center>LOGS</center></h2>
   	<div class="zui-wrapper">
		<div class="zui-scroller">
			<table class="zui-table zui-table-horizontal zui-table-highlight">
				<thead>
	           		<tr>
		                <th>No</th>
	                    <th>Push Code</th>
						<th>App ID</th>
						<th>User ID</th>
						<th>Device ID</th>
						<th>Date Access</th>
						<th>Message</th>
						<th>IP Address</th>
						<th>Status</th>
	                </tr>
            	</thead>
            	<tbody>
	                <tr class = "zui-table tbody tr" ng-repeat="x in logs">
						<td>{{ $index + 1 }}</td>
						<td>{{ x.push_code }}</td>
						<td>{{ x.App_ID }}</td>
						<td>{{ x.User_ID }}</td>
					 	<td>{{ x.Device_ID }}</td>
					    <td>{{ x.Date_Access }}</td>
					    <td>{{ x.Message }}</td>
					    <td>{{ x.IP_Address }}</td>
					    <td>
					    	<div class="waiting" ng-if="x.Status == 'Waiting'">{{ x.Status }}</div>
					    	<div class="pushed" ng-if="x.Status == 'pushed'">{{ x.Status }}</div>
					    </td>
					</tr>
                </tbody>
			</table>
		</div>
	</div>
  </section>

  <section id="section-2">
    <h2><center>APPLICATIONS</center></h2>
    <div class="zui-wrapper">
		<div class="zui-scroller">
			<table class="zui-table zui-table-horizontal zui-table-highlight">
				<thead>
					<tr>
						<th>No</th>
						<th>User ID</th>
						<th>App ID</th>
						<th>Phone Number</th>
					</tr>
				</thead>
				<tbody>
				  <tr ng-repeat="x in users">
				    <td>{{ $index + 1 }}</td>
				    <td>{{ x.User_ID }}</td>
				    <td>{{ x.App_ID }}</td>
				    <td>{{ x.Phone_Number }}</td>
				  </tr>
				</tbody>
			</table>
		</div>
	</div>
  </section>

  <section id="section-3">
    <h2><center>DEVICES</center></h2>
    <div class="zui-wrapper">
		<div class="zui-scroller">
			<table class="zui-table zui-table-horizontal zui-table-highlight">				
				<thead>
					<tr>
						<th>No</th>
						<th>Name</th>
						<th>App Version</th>
						<th>Key Access</th>
						<th>GCM Key Access</th>
						<th>Baidu Key Access</th>
						<th>APNS PEM</th>
						<th>APNS PEM NOEnc</th>
					</tr>
				</thead>

				<tbody>
					<tr ng-repeat="x in apps">
					    <td>{{ $index + 1 }}</td>
					    <td>{{ x.Name }}</td>
					    <td>{{ x.App_Version }}</td>
					    <td>{{ x.Key_Access }}</td>
					    <td>{{ x.GCM_Access_Key }}</td>
					    <td>{{ x.Baidu_Access_Key }}</td>
					    <td>{{ x.APNS_PEM }}</td>
					    <td>{{ x.APNS_PEM_NoEnc }}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
  </section>

  <section id="section-4">
    <h2><center>USERS</center></h2>
    <div class="zui-wrapper">
		<div class="zui-scroller">
			<table class="zui-table zui-table-horizontal zui-table-highlight">
				<thead>
					<tr>
						<th>No</th>
						<th>User ID</th>
						<th>Device ID</th>
						<th>Push Type</th>
						<th>Device Model</th>
						<th>Device OS</th>
					</tr>
				</thead>
				
				<tbody>
					<tr ng-repeat="x in devices">
					    <td>{{ $index + 1 }}</td>
					    <td>{{ x.User_ID }}</td>
					    <td>{{ x.Device_ID }}</td>
					    <td>{{ x.Push_Type }}</td>
					    <td>{{ x.Device_Model }}</td>
					    <td>{{ x.Device_OS }}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
  </section>
  <footer>
    <button ng-click="toTheTop()">Take me back!</button> or <button ng-click="toSection3()">To section 3</button>
  </footer>
<script src="http://code.angularjs.org/1.2.10/angular-resource.min.js"></script>
<script>
	var myapp = new angular.module("myapp", ["ngResource"]);

	myapp.controller("MainCtl", ["$scope", "$resource", "$interval", function($scope, $resource, $interval){
		var var_1 = $interval(function(){
			var Logs = $resource("/logs/:id", {id: '@id'}, {});

			$scope.selected = null;

			$scope.list = function(idx){
				Logs.query(function(data){
					$scope.logs = data;
					if(idx != undefined) {
						$scope.selected = $scope.logs[idx];
						$scope.selected.idx = idx;
					}
				}, function(error){
					alert(error.data);
				});
			};

		$scope.list();
		}, 1000);
		
		var timer=$interval(function(){
			var Applications = $resource("/apps/:id", {id: '@id'}, {});	
			$scope.selected = null;

			$scope.list = function(idx){
				Applications.query(function(data){
					$scope.apps = data;
					if(idx != undefined) {
						$scope.selected = $scope.apps[idx];
						$scope.selected.idx = idx;
					}
				}, function(error){
					alert(error.data);
				});
			};

			$scope.list();

		},1000);

		var timer=$interval(function(){
			var Devices = $resource("/devices/:id", {id: '@id'}, {});	
			$scope.selected = null;

			$scope.list = function(idx){
				Devices.query(function(data){
					$scope.devices = data;
					if(idx != undefined) {
						$scope.selected = $scope.devices[idx];
						$scope.selected.idx = idx;
					}
				}, function(error){
					alert(error.data);
				});
			};

			$scope.list();

		},1000);

		var timer=$interval(function(){
			var Users = $resource("/users/:id", {id: '@id'}, {});	
			$scope.selected = null;

			$scope.list = function(idx){
				Users.query(function(data){
					$scope.users = data;
					if(idx != undefined) {
						$scope.selected = $scope.devices[idx];
						$scope.selected.idx = idx;
					}
				}, function(error){
					alert(error.data);
				});
			};

			$scope.list();

		},1000);
	}]);
</script>
</body>
</html>
